@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  padding: 0 30px;
}

h1 {
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
}

h2 {
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  color: #58595B;
}

p {
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}

.via-logo-top {
  width: 281px;
  margin: 48px;
}

.icons {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.mockups {
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.top-container {
  margin-top: -60px;
  position: relative;
  margin-bottom: 50%;
  width: 100%;

}

.min-sr-logo {
  margin-top: 30px;
  width: 429px;
}

.flying {
  width: 40%;
}

.item-container {
  display: flex;
}

.min-sr-logo-bottom {
    width: 100px
}

.dl-logo-bottom {
  width: 100px;
}

.item-text {
  text-align: left;
  margin-top: 15%;
}

@media only screen and (max-width: 1000px) {
  .item-container {
    display: block;
  }
}
